/* --- Search Bar Styles --- */

.search-bar {
 /* Search Bar */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px 8px 16px;
  gap: 8px;

  margin: 0 auto;
  width: 700px;
  height: 36px;

  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 1000px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.search-hint-text{
  /* Label */

  width: 100%;
  height: 16px;
  align-items: left;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.01em;

  color: #B5B5B5;


  /* Inside auto layout */
  flex: none;
  flex-grow: 0;

}

.search-bar-shortcut {
  /* Shortcut */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  gap: 2px;

  width: fit-content;
  height: 20px;

  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.search-bar-shortcut-text {
  /* Label */

  width: 42px;
  height: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;

  color: #817C7C;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}