/* --- To Hide/Show Sidebar --- */
/* .sidebar-container {
  position: relative; /* Needed for absolute positioning of the sidebar */
  /* overflow-x: hidden;
  width: 280px;
  height: 100%; */
/* } */

/* --- Sidebar Styles --- */

/* Sidebar */
.sidebar-box {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  /* transform: translateX(-100%);
  transition: transform 0.2s ease-in-out; */
  position: static;
  width: 280px;
  height: 100%;

  background: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

/* .sidebar-box.visible{
  transform: translateX(0);
} */

/* .sidebar-hover-area {
  position: absolute;
  width: 280px;
  height: auto;
  background-color: #ECF1FE;
  cursor: pointer;
  z-index: 10;
} */

/* Logo + Menus */
.sidebar-logo_menus-box{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 0px;
  
  width: 280px;
  height: 972px;
  left: 0px;
  top: 0px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: normal;
  flex-grow: 1;
  
}

/* App Name */
.sidebar-appname-box{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  width: 100%;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  /* Logo + AppName */
  .sidebar-logo_appname-container{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    
    width: 100%;
    height: auto;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    z-index: 0;
  }
  /* App Logo */
  .sidebar-applogo{
  width: 48px;
  height: 48px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  /* AppName */
  .sidebar-appname{
  width: 100%;
  height: 26px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  
  color: #353535;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
  }
}

/* Company Name */
.sidebar-company-box{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 0px;

  width: 100%;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
  /* Company Logo + Name + Details */
  .sidebar-company-container{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    
    width: 100%;
    height: 52px;
    
    background: #F5F5F5;
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
  }
    /* Company Logo */
    .sidebar-companylogo{
      width: 36px;
      height: 36px;
      
      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    /* Company Name + Details */
    .sidebar-companyname_details-container{
      /* Auto layout */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      gap: 4px;
      
      width: 147px;
      height: 36px;
      
      
      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
      /* Company Name Text Styles */
      .sidebar-companyname{
        width: 86px;
        height: 17px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.01em;
        
        color: #353535;
        
        
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }
      /* Details */
      .sidebar-companydetails-container{
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
        
        width: 147px;
        height: 15px;
        
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      /* Corporate */
      .sidebar-companydetails{
        width: fit-content;
        height: 15px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        letter-spacing: 0.01em;
        
        color: #817C7C;
        
        
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }

/* Menus + Title Container */
.sidebar-title_menu-container{
  /* Auto layout */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  isolation: isolate;
  
  width: 100%;
  height: 229px;
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* Menu Title */
.sidebar-menu-title{
  width: 248px;
  height: 17px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  color: #817C7C;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

/* Menus Container */
.sidebar-menu-container{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 100%;
  height: 172px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 0;
}

/* Menu */
.sidebar-menu-list{
  /* Auto layout */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 12px;
  
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: #19377C;
  transition: background-color 0.3 ease;
  
  /* Employee */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;

  color: #353535;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
  .sidebar-menu-list:hover{
    /* Menu */
    background-color: #FAFCFF;
    border-radius: 8px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #19377C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .sidebar-menu-list:active{
    /* Menu */
    background-color: #ECF1FE;
    border-color: #CED8F0;
    border-radius: 8px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #19377C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

/* User */
.sidebar-user{
  box-sizing: border-box;
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 40px;
  
  width: 280px;
  height: 80px;
  
  background: rgba(255, 255, 255, 0.6);
  border-top: 1px solid #F1F1F1;
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  
  
  /* Notifications */
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  isolation: isolate;
  
  width: 56px;
  height: 56px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  
  /* BellRinging */
  
  width: 24px;
  height: 24px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  
  
  /* Vector */
  
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  
  
  /* Vector */
  
  position: absolute;
  left: 16.03%;
  right: 16.03%;
  top: 15.7%;
  bottom: 25%;
  
  border: 1.5px solid #323A52;
  
  
  /* Vector */
  
  position: absolute;
  left: 37.5%;
  right: 37.5%;
  top: 75%;
  bottom: 9.38%;
  
  border: 1.5px solid #323A52;
  
  
  /* Vector */
  
  position: absolute;
  left: 71.64%;
  right: 13.52%;
  top: 9.38%;
  bottom: 74.18%;
  
  border: 1.5px solid #323A52;
  
  
  /* Vector */
  
  position: absolute;
  left: 13.52%;
  right: 71.64%;
  top: 9.38%;
  bottom: 74.18%;
  
  border: 1.5px solid #323A52;
  
  
  /* Counter */
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 10px;
  
  position: absolute;
  width: 38px;
  height: 23px;
  left: 28px;
  top: calc(50% - 23px/2 - 11px);
  
  background: #A40006;
  border-radius: 1000px;
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  
  
  /* 123 */
  
  width: 30px;
  height: 15px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  
  /* Avatar */
  
  box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 12px;
gap: 8px;

width: 56px;
height: 56px;

border-radius: 2333.33px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Profile Picture */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8.89px;

width: 32px;
height: 32px;

background: #F5F5F5;
border: 0.8px solid #E3E3E3;
border-radius: 888.889px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* UserCircle

person, users, profile, account, contact, login, people
*/

width: 17.78px;
height: 17.78px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.37%;
top: 9.37%;
bottom: 9.38%;

background: #817C7C;


/* priambadajunior */

display: none;
width: 161px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #DBE8FC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}